sync_v3_from_test.sh
sync_v3_to_test.sh
include_filter.txt
v3_copy_v2_rename.sh
v23_sync_from_test_copy.sh
pack.sh
v23_rename_twig_to_tpl.sh
v23_sync_from_test copy.sh
v23_sync_to_test.sh
/other
/.history/
v21_sync_from_test.sh
release/qwqer-oc2.1.ocmod.zip
release/qwqer-oc2.3.ocmod.zip
release/qwqer-oc3.ocmod.zip
release/qwqer-oc4.ocmod.zip
release/qwqer-oc15.ocmod.zip
v15_sync_from_test.sh
v15_sync_to_test.sh
